.user-gallery {
  width: 100%;

  > .quote-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1{
      color: rgb(209, 86, 209);
    }
    
  }

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 768.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
